body
{background-color : wheat;}
h1
{color :black;} 
h1
{text-align : center;}
h1
{text-shadow: rgb(116, 86, 50);}
body
{border-style: ridge;}
table
{ text-align: right;}
table
{column-gap: 3in;}
table
{color: #000;}
table
{size: initial ;}
table
{box-align: right;}
table
{column-gap: 5mm;}
